# Input Data EDA
---

In [11]:
import pandas as pd
pd.set_option('display.max_columns', None)

df_gl = pd.read_csv('data/500030_5th-7th.csv')
df_daily_readiness = pd.read_csv('data/fitness/DailyReadiness/Daily Readiness Score - 2024-04-01.csv')
df_hrv_details = pd.read_csv('data/fitness/HeartRateVariability/HRVDetails/Heart Rate Variability Details - 2024-04-03.csv')
df_hrv_summ = pd.read_csv('data/fitness/HeartRateVariability/HRVSummary/Daily Heart Rate Variability Summary - 2024-04-.csv')
df_hrv_resp = pd.read_csv('data/fitness/HeartRateVariability/RespiratoryRateSummary/Daily Respiratory Rate Summary - 2024-04-01.csv')
df_sleep_score = pd.read_csv('data/fitness/SleepScore/sleep_score.csv')
df_sleep_prof = pd.read_csv('data/fitness/SleepScore/Sleep Profile.csv')
df_daily_spo2 = pd.read_csv('data/fitness/SPO2/Daily SpO2 - 2023-11-15-2024-02-23.csv')
df_min_spo2 = pd.read_csv('data/fitness/SPO2/Minute SpO2 - 2024-01-01.csv')
df_stress_score = pd.read_csv('data/fitness/StressScore/Stress Score.csv')
df_tempor_comp = pd.read_csv('data/fitness/Temperature/Computed Temperature - 2024-01-01.csv')
df_tempor_device = pd.read_csv('data/fitness/Temperature/Device Temperature - 2024-01-02.csv')

df_output = pd.read_csv('output/merged_health_data.csv')

C:\Windows\Temp\ipykernel_11196\4136659876.py:17: DtypeWarning: Columns (6,10,19,21,25,26,27,32,33) have mixed types. Specify dtype option on import or set low_memory=False.
  df_output = pd.read_csv('output/merged_health_data.csv')

## Timezone Awareness

Timezone Aware
- BGL (df_gl): `2024-05-01 00:00:27.029000-05:00`
- SPO2 (df_daily_spo2): `2023-11-16T00:00:00Z`
- Sleep Score (df_sleep_score): `2024-11-24T10:38:30Z`

Not Timezone Aware
- HRV Details (df_hrv_details): `2024-04-03T02:50:00`
- HRV Summary (df_hrv_summ): `2024-04-01T00:00:00`
- HRV Respiratory (df_hrv_resp): `2024-04-01T00:00:00`
- Temperature Computed (df_tempor_comp): `2024-01-01T05:03`
- Temperature Device (df_tempor_device): `2024-01-02T00:00`

Date Only
- Sleep Profile (df_sleep_prof): `2023-12-30`
- Daily Readiness (df_daily_readiness): `2024-05-01`

## BGL Gluroo file:

- date column is timezone aware
- columns:
  - Index(['date', 'sender_id', 'bgl', 'bgl_date_millis', 'text', 'template',
       'msg_type', 'affects_fob', 'affects_iob', 'dose_units', 'food_g',
       'food_glycemic_index', 'dose_automatic', 'fp_bgl',
       'message_basal_change', '__typename', 'trend'],
      dtype='object')

In [2]:
df_gl.head()

,date,sender_id,bgl,bgl_date_millis,text,template,msg_type,affects_fob,affects_iob,dose_units,food_g,food_glycemic_index,dose_automatic,fp_bgl,message_basal_change,__typename,trend
0,2024-05-01 00:00:27.029000-05:00,NaN,114.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Reading,FLAT
1,2024-05-01 00:05:27.183000-05:00,NaN,117.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Reading,FLAT
2,2024-05-01 00:10:26.949000-05:00,NaN,113.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Reading,FLAT
3,2024-05-01 00:15:27.180000-05:00,NaN,112.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Reading,FLAT
4,2024-05-01 00:20:27.021000-05:00,NaN,113.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Reading,FLAT

## Daily Readiness files:

In [3]:
df_daily_readiness.head()

,date,readiness_score_value,readiness_state,activity_subcomponent,sleep_subcomponent,hrv_subcomponent,activity_state,sleep_state,hrv_state
0,2024-05-01,71.0,HIGH,71.0,94.0,55.0,LOW,HIGH,MEDIUM
1,2024-04-30,39.0,MEDIUM,39.0,99.0,49.0,MEDIUM,HIGH,MEDIUM
2,2024-04-29,100.0,HIGH,100.0,95.0,46.0,LOW,HIGH,MEDIUM
3,2024-04-28,98.0,HIGH,98.0,99.0,58.0,LOW,HIGH,MEDIUM
4,2024-04-27,87.0,HIGH,87.0,94.0,51.0,LOW,HIGH,MEDIUM

## HRV Details files:

In [4]:
df_hrv_details.head()

             timestamp   rmssd  coverage  low_frequency  high_frequency
0  2024-04-03T02:50:00  28.081     0.809        566.518         117.381
1  2024-04-03T02:55:00  27.988     0.929        580.310         133.755
2  2024-04-03T03:00:00  24.648     0.952        889.027          79.267
3  2024-04-03T03:05:00  21.653     1.003        479.725         118.570
4  2024-04-03T03:10:00  14.050     0.985        237.975          56.920

In [5]:
df_hrv_summ # get rid

             timestamp   rmssd  nremhr  entropy
0  2024-04-01T00:00:00  18.045  63.083     2.17

In [6]:
df_hrv_resp # seperate files by daily frequency (!)

             timestamp  daily_respiratory_rate
0  2024-04-01T00:00:00                    14.4

## Sleep files:

In [7]:
df_sleep_score.head()

,sleep_log_entry_id,timestamp,overall_score,composition_score,revitalization_score,duration_score,deep_sleep_in_minutes,resting_heart_rate,restlessness
0,47572319477,2024-11-24T10:38:30Z,82,22.0,19,41.0,100,59,0.093574
1,47562806336,2024-11-23T10:08:30Z,89,23.0,21,45.0,108,61,0.102176
2,47551842764,2024-11-22T07:15:00Z,77,21.0,17,39.0,80,61,0.068436
3,47540007324,2024-11-21T08:40:30Z,85,22.0,22,41.0,99,62,0.076023
4,47529778367,2024-11-20T08:40:30Z,86,23.0,16,47.0,115,61,0.063476

In [8]:
df_sleep_prof.head()

,creation_date,sleep_type,deep_sleep,rem_sleep,sleep_duration,sleep_start_time,schedule_variability,restorative_sleep,time_before_sound_sleep,sleep_stability,nights_with_long_awakenings,days_with_naps
0,2023-12-30,Giraffe,79.71,25.77,6.34,25.91,57.27,74.86,16.91,3.48,0.00,0.00
1,2024-01-01,Giraffe,79.74,23.99,6.31,27.09,66.18,78.09,21.92,3.42,3.23,3.23
2,2024-02-01,Giraffe,77.30,24.97,6.15,26.78,102.25,77.96,17.40,3.33,9.68,0.00
3,2024-03-01,Bear,85.38,24.72,6.19,25.69,51.65,82.92,17.83,3.80,0.00,0.00
4,2024-04-01,Giraffe,81.71,25.32,6.11,26.69,55.04,81.58,17.34,3.69,3.23,0.00

## SPO2 Files:

In [14]:
df_daily_spo2.head()

              timestamp  average_value  lower_bound  upper_bound
0  2023-11-16T00:00:00Z           95.6         92.9         98.2
1  2023-11-17T00:00:00Z           95.2         93.5         96.9
2  2023-11-18T00:00:00Z           95.6         94.3         95.6
3  2023-11-19T00:00:00Z           96.4         94.4         99.4
4  2023-11-20T00:00:00Z           96.6         94.8         97.5

In [15]:
df_min_spo2.head()

              timestamp  value
0  2024-01-01T10:17:03Z   91.2
1  2024-01-01T10:18:03Z   92.2
2  2024-01-01T10:19:03Z   93.7
3  2024-01-01T10:20:03Z   94.9
4  2024-01-01T10:21:03Z   95.6

## Stress scores files:

In [10]:
df_stress_score.head()

,DATE,UPDATED_AT,STRESS_SCORE,SLEEP_POINTS,MAX_SLEEP_POINTS,RESPONSIVENESS_POINTS,MAX_RESPONSIVENESS_POINTS,EXERTION_POINTS,MAX_EXERTION_POINTS,STATUS,CALCULATION_FAILED
0,2021-11-10T00:00:00,2021-11-10T12:31:21.658,0,0,0,0,0,0,0,NO_DATA,True
1,2021-11-11T00:00:00,2021-11-11T12:42:28.114,65,23,30,18,30,24,40,READY,False
2,2021-11-12T00:00:00,2021-11-12T13:44:58.372,67,25,30,15,30,27,40,READY,False
3,2021-11-13T00:00:00,2021-11-13T16:48:56.386,72,25,30,20,30,27,40,READY,False
4,2021-11-14T00:00:00,2021-11-14T16:39:53.737,77,25,30,23,30,29,40,READY,False

## Temperature files:

In [2]:
df_tempor_comp.head()

,type,sleep_start,sleep_end,temperature_samples,nightly_temperature,baseline_relative_sample_sum,baseline_relative_sample_sum_of_squares,baseline_relative_nightly_standard_deviation,baseline_relative_sample_standard_deviation
0,IDT,2024-01-01T05:03,2024-01-01T13:00:30,471,33.179618,NaN,NaN,NaN,NaN
1,IDT,2024-01-02T04:51:30,2024-01-02T13:03:30,487,32.820123,-3.637979e-12,1105.242793,0.759910,1.508033
2,IDT,2024-01-03T03:47,2024-01-03T11:06:30,435,31.474483,-3.462981e+02,1020.690451,0.828844,1.472095
3,IDT,2024-01-04T05:15:30,2024-01-04T12:41:30,440,32.768864,-1.818989e-12,765.403432,0.747949,1.435175
4,IDT,2024-01-05T04:33:30,2024-01-05T12:27:30,459,30.557952,-7.743278e+02,2079.260588,1.004324,1.533683

In [6]:
df_tempor_device

         recorded_time  temperature sensor_type
0     2024-01-02T00:00    -3.220123     UNKNOWN
1     2024-01-02T00:01    -3.120123     UNKNOWN
2     2024-01-02T00:02    -3.120123     UNKNOWN
3     2024-01-02T00:03    -3.120123     UNKNOWN
4     2024-01-02T00:04    -3.120123     UNKNOWN
...                ...          ...         ...
1432  2024-01-02T23:55    -2.920123     UNKNOWN
1433  2024-01-02T23:56    -3.320123     UNKNOWN
1434  2024-01-02T23:57    -3.720123     UNKNOWN
1435  2024-01-02T23:58    -4.020123     UNKNOWN
1436  2024-01-02T23:59    -3.920123     UNKNOWN

[1437 rows x 3 columns]